.about{
    padding: 5%;
    background-color:dodgerblue;
    color: white;
    font-weight: bold;
}
.search-list{
    padding:2% 10%;
}
#a-back{
    font-size:20px;
    display:inline-block;
    background-color:#343a40;
    margin:2%;
    padding:10px;
}
#a-back:hover{
    color:white;
    text-decoration: none;
}
footer{
    padding: 1%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#343a40;
    color: white;
    text-align: center;
}
.desc{
    background-color: orangered;
    padding: 7%;
    color:white;
    font-size: 18px;
    font-weight: bold;
}
.filtnsearch{
    padding:3%;
}
#filterList{
    margin-top:3%;
    list-style-type: none;
   
}
.col-sm-2{
    padding:0 !important;
}
#filterList>li,.cl{
 text-decoration:none;
 color:#fff;
 background: linear-gradient(to right, #3a7fd5, #6ebce2);
 border-radius: 5%;
 padding:10px 20px 10px 10px;
 margin-left: 5px;
 display:inline;
}
.close{
    color:#000;
}
.tabRow{
    padding:5%;
}
.tabRow>td{
    font-family: Lato-Regular;
    font-size: 15px;
    line-height: 1.4;
    padding:2%;
    background-color: #222222;
    margin:2%;
    color:#808080;
    
}
thead>tr{
    font-family: Verdana;
    font-size: 14px;
    color: #00ad5f;
    line-height: 1.4;
   text-transform: uppercase;
    background-color: #393939;
    text-align: center;
}
thead>tr>td{
    padding:1%;
}
.tab{
    max-width: 100%;
}
table{
    border-radius: 5%;
}
#docInfo{
    padding:2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 70%;
    margin: auto;
    font-family: arial;
    overflow: hidden;
}
.docImg{
    float:right;
    object-fit: contain;
    margin:auto;
    max-width: 60%;
    max-height: 10%;
}
@media only screen and (max-width: 1200px) {
    .docImg {
        width:100%;
        height:50%;
    }
    #docInfo{
        max-width: 70%;
        padding:1%;
        margin: auto;
        font-family: arial;
    }
}

h1.docName{
    text-align:center;
    margin-bottom:2%;
    background-color: #222222;
    color:whitesmoke;
}
#rDoc{
    background-color:#ebebe0;
    padding:1% 2%;
    margin:2%;
    display: inline-block;
    box-shadow: 3px 5px #888888;
}
#rDoc>p{
  padding:1%;
  color:black !important;
}
#relDoc{
    margin-left:2%;
}
.info{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 2%;
    font-size:18px;
    margin-bottom:2px !important;
}
#td-block{
    display:inline-block;
    margin-top:2%;
    margin-left:20%;

}
